turtle_commander_ws/build
turtle_commander_ws/install
turtle_commander_ws/log
turtle_monitor_ws/build/
turtle_monitor_ws/install/
turtle_monitor_ws/log/
turtle_autonomous_patrol_ws/build/
turtle_autonomous_patrol_ws/install/
turtle_autonomous_patrol_ws/log/
turtle_autonomous_patrol_ws/src/turtle_autonomous_patrol/turtle_autonomous_patrol/__pycache__
turtle_autonomous_patrol_ws/rosbag*
mini_spawn_demo_ws/build
mini_spawn_demo_ws/install
mini_spawn_demo_ws/log
waffle_tf2_nav_ws/build
waffle_tf2_nav_ws/install
waffle_tf2_nav_ws/log
waffle_tf2_nav_ws/frames_*
waffle_tf2_nav_ws/src/waffle_tf2_navigation/waffle_tf2_navigation/__pycache__/*