turtle_commander_ws/build
turtle_commander_ws/install
turtle_commander_ws/log
turtle_monitor_ws/build/
turtle_monitor_ws/install/
turtle_monitor_ws/log/
turtle_autonomous_patrol_ws/build/
turtle_autonomous_patrol_ws/install/
turtle_autonomous_patrol_ws/log/
turtle_autonomous_patrol_ws/src/turtle_autonomous_patrol/turtle_autonomous_patrol/__pycache__
mini_spawn_demo_ws/build
mini_spawn_demo_ws/install
mini_spawn_demo_ws/log
